html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

h2, p {
    color: #ced6e0;
    margin: 0;
}

h3, h4 {
    margin: 0;
}

a {
    color: #1e90ff;
}

button {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.background-main {
    background: url("./back.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    height: 730px;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.social-select {
    position: absolute;
    right: 42px;
    top: 10px;
    content: "";
    width: 73px;
    height: 331px;
    z-index: 10;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    justify-content: space-around;
    background-color: #000000;
}

.second-box {
    position: relative;
    margin-top: 350px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 453px;
    justify-content: space-between;
}

.second-box::after {
    content: url("./macbook.png");
    position: absolute;
    top: -12px;
    left: -88px;
    z-index: 3;
}

.tablet {
    background: url("./ipad.png");
    background-size: cover;
    position: absolute;
    top: -130px;
    right: 5px;
    height: 110%;
    width: 50%;
    z-index: 1;
    transition: 1s;
}

.tablet:hover {
    top: -350px
}

.tablet:hover .hello {
    color: #000;
}

.tablet:hover .rest-info h3, .tablet:hover .rest-info p, .tablet:hover .rest-info h4 {
    color: #fff;
}

.tablet:hover .logos {
    opacity: 1;
}

.hello {
    color: #fff;
    transition: .5s;
    animation: hello-action .7s infinite;
}

.logos {
    width: 100%;
    opacity: 0;
    transition: .5s;
}

.logos>img:first-child {
    margin-top: 20px;
}

.rest-info {
    position: absolute;
    left: 32px;
    bottom: 60px;
    width: 80%;
    height: 300px;
    text-align: center;
    overflow-y: scroll;
}

.rest-info h3, .rest-info p, .rest-info h4 {
    color: #000;
    transition: .5s;
}

.rest-info h4 {
    margin: 5px 0;
}

.rest-info h4:nth-of-type(1) {
    margin-top: 20px;
}

.rest-info p:nth-of-type(1) {
    margin: 20px 0;
}

.rest-info p:nth-of-type(4){
    margin-top: 20px;
}

.background-description {
    background-color: #141414;
    padding: 10px;
    opacity: .8;
    width: 90%;
    left: 28px;
    bottom: 5px;
    border-radius: 5px;
}

.carousel {
    margin-top: 5px;
    width: 100%;
    max-width: 455px;
    z-index: 4;
}

.logo-30 {
    width: 30px;
}

.logo-45 {
    width: 45px;
}

.logo-40 {
    width: 40px;
}

.logo-60 {
    width: 60px;
}

.logo-33 {
    width: 33px;
}

.logo-100 {
    width: 100px;
}

.logo-express {
    width: 150px;
}

.logo-html-css-js {
    width: 85px;
}

.logo-hibernate {
    width: 110px;
}

.logo-sass {
    width: 50px;
}

.icon-btn, i.fa {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
    transition-duration: .5s;
}

.icon-btn:hover {
    transform: scale(1.1);
}

i.fa {
    line-height: 75px;
    margin: -5px;
    position: relative;
    width: 35px;
    height: 35px;
}

.fa-facebook {
    color: #3b5998;
}

.fa-github {
    color: #4183c4;
}

.fa:hover {
    color: #ffffff;
}

.facebook:hover {
    background-color: #3b5998;
}

.github:hover {
    background-color: #4183c4;
}

.facebook-handling:before {
    position: absolute;
    bottom: -22px;
    right: 9px;
}

.github-handling:before {
    position: absolute;
    bottom: -21px;
    right: 4px;
}

.linkedin-handling:before {
    position: absolute;
    bottom: -19px;
    right: 4px;
}

.email-handling:before {
    position: absolute;
    bottom: -21px;
    right: 4px;
}

@keyframes hello-action {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(1px, 3px);
    }
    50% {
        transform: translate(-3px, -3px);
    }
    75% {
        transform: translate(1px, 3px);
    }
    100% {
        transform: translate(3px, 1px);
    }
}

