html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

h2, p {
  color: #ced6e0;
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  color: #1e90ff;
}

button {
  outline: none;
}

section {
  margin-top: 20px;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-align-right {
  text-align: right;
}

.background-main {
  background: url("./komp-back.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  height: 780px;
}

.description {
  display: inherit;
  width: 100%;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin-top: 20px;
}

.first-box {
  margin-top: 50px;
  width: 100%;
}

.second-box {
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: 453px;
  justify-content: space-between;
}

.third-box {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.background-description {
  background-color: #141414;
  padding: 10px;
  opacity: .8;
  width: 90%;
  left: 28px;
  bottom: 5px;
  border-radius: 5px;
}

.carousel {
  margin-top: 5px;
  width: 100%;
  max-width: 570px;
}

.face {
  width: 100px;
  height: 156px;
}

.picture-box {
  height: fit-content;
}

.logo-30 {
  width: 30px;
}

.logo-55 {
  width: 55px;
}
.logo-40 {
  width: 40px;
}

.logo-100 {
  width: 100px;
}

.logo-110 {
  width: 110px;
  z-index: 2;
}

.logo-item {
  position: relative;
}

.logos::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 110px;
  height: 10px;
  left: 50px;
  top: 1px;
}

.logos {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btn, i.fa {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  font-size: 40px;
  transition-duration: .5s;
}

.icon-btn:hover {
  transform: scale(1.1);
}

i.fa {
  line-height: 75px;
  margin: -5px;
  position: relative;
  width: 50px;
  height: 50px;
}

.fa-facebook {
  color: #3b5998;
}

.fa-github {
  color: #4183c4;
}

.fa:hover {
  color: #ffffff;
}

.facebook:hover {
  background-color: #3b5998;
}

.github:hover {
  background-color: #4183c4;
}

.facebook-handling:before {
  position: absolute;
  bottom: -16px;
  right: 17px;
}

.github-handling:before {
  position: absolute;
  bottom: -14px;
  right: 10px;
}

.linkedin-handling:before {
   position: absolute;
   bottom: -12px;
   right: 10px;
 }

.email-handling:before {
  position: absolute;
  bottom: -13px;
  right: 10px;
}

